<section>
    <h2>Breweries</h2>
    <div *ngIf="statistics">
        <table class="table">
            <thead>
                <tr>
                    <ng-template ngFor let-userTotal [ngForOf]="statistics.userTotals">
                        <th>{{userTotal.user}}</th>
                    </ng-template>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <ng-template ngFor let-userTotal [ngForOf]="statistics.userTotals">
                        <td>{{userTotal.total}}</td>
                    </ng-template>
                </tr>
                <tr>
                    <td [colSpan]="statistics.userTotals.count()">{{statistics.grandTotal}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="errorMessage">{{errorMessage}}</div>
</section>