<section>
    <h2>Breweries</h2>
    <div *ngIf="statistics">
        <table class="table">
            <tbody>
                <ng-template ngFor let-userTotal [ngForOf]="statistics.userTotals">
                    <tr>
                        <th>{{userTotal.user}}</th>
                        <td>{{userTotal.total}}</td>
                    </tr>
                </ng-template>
                <tr>
                    <th>Grand Total</th>
                    <td>{{statistics.grandTotal}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="errorMessage">{{errorMessage}}</div>
</section>